@charset "UTF-8";

/*
    Em HTML é ID = CSS é # (só pode um elemento)
    Em HTML é class = CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(194, 248, 230);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 78, 78);
}

#principal {
    text-align: center;
    background-color: rgb(8, 138, 95);
    color: ghostwhite;
}

h2 {
    color: rgb(44, 157, 122);
}

.basico {
    color: rgb(43, 147, 114);
} 

.intermediario {
    color: rgb(142, 147, 43);
}

.avançado {
    color: rgb(147, 43, 43);
}

.destaque {
    background-color: rgba(197, 197, 29, 0.363);
}